@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap");
@font-face {
  font-family: "franchise_freebold";
  src: url("../../fonts/franchise-free-bold-webfont.woff2") format("woff2"), url("../../fonts/franchise-free-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  font-size: 14px;
}

@media (min-width: 768px) and (max-width: 991px) {
  :root {
    font-size: calc(14px + (18 - 14) * ((100vw - 768px) / (991 - 768)));
  }
}
@media (min-width: 991px) {
  :root {
    font-size: 18px;
  }
}
html {
  font-size: 1em;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: black;
}

p {
  margin-bottom: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "franchise_freebold", sans-serif;
  color: black;
  font-weight: inherit;
  line-height: 1.2;
  letter-spacing: 0.1em;
}

/* Default Styles - Global */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
}

body {
  background: white;
  color: black;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  display: flex;
  flex-flow: column nowrap;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

p {
  margin-top: 1rem;
}

a {
  color: #e23d18;
  text-decoration: none;
  transition: all 125ms ease;
}
a:hover {
  color: #581809;
}

section {
  width: 100%;
  background: pink;
}

.container, .container-wide {
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1200px) minmax(1rem, 1fr);
}
.container > *, .container-wide > * {
  grid-column: 2/3;
}

.container {
  grid-template-columns: minmax(1rem, 1fr) minmax(auto, 45ch) minmax(1rem, 1fr);
}

.text-required {
  color: #e23d18;
}

.span {
  grid-column: 1/-1 !important;
}

.toggle {
  position: absolute;
  top: -999px !important;
  left: -9999px !important;
}

.toggle-label {
  height: 3.5rem;
  width: 4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.toggle-label span,
.toggle-label span::before,
.toggle-label span::after {
  width: 2.5em;
  height: 5px;
  border-radius: 4px;
  background: #231f20;
  position: relative;
}
.toggle-label span::before,
.toggle-label span::after {
  content: "";
  position: absolute;
  transform: rotate(0deg);
  transition: transform 250ms ease;
}
.toggle-label span::before {
  top: 10px;
}
.toggle-label span::after {
  top: -10px;
}

.toggle:checked ~ .toggle-label {
  filter: drop-shadow(0 2px 2px rgba(35, 31, 32, 0.15));
  background: rgba(126, 205, 201, 0.5);
  left: 33%;
}

.toggle:checked ~ .toggle-label span {
  background: transparent;
}

.toggle:checked ~ .toggle-label span::before {
  transform: rotate(135deg);
  top: 0px;
}

.toggle:checked ~ .toggle-label span::after {
  transform: rotate(-135deg);
  top: 0px;
}

header {
  padding-top: 1em;
  padding-bottom: 1em;
  background: #7ecdc9;
  height: calc(60px + 4em);
  width: 100%;
  position: relative;
}
header .logo {
  text-align: center;
  padding-right: 4rem;
  padding-left: 4rem;
}
header img {
  height: calc(60px + 2em);
  display: inline-block;
}

.navbar {
  font-weight: 300;
  background: white;
  min-width: 33%;
  min-height: 100vh;
  box-shadow: 2px 0 12px 5px rgba(35, 31, 32, 0.15);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 102;
  transform: translateX(-105%);
  transition: all 125ms ease;
}
.navbar ul {
  list-style: none;
  padding: 0;
}
.navbar li {
  border-bottom: solid 1px #bebebe;
}
.navbar a {
  text-decoration: none;
  display: block;
  color: #231f20;
  padding: 0.5rem 1rem;
}
.navbar a:hover {
  background: #e23d18;
  color: white;
}

.toggle:checked ~ .navbar {
  transform: translateX(0);
}

.inlineSVG {
  display: inline;
  width: auto;
}

.headerSVG {
  position: absolute;
  right: 0;
  bottom: -5px;
  height: clamp(4em, 20vh, 6em);
}

.navbarSVG {
  position: absolute;
  right: 0.5em;
  bottom: 0;
  width: clamp(2rem, 10vw, 5rem);
}

.footerSVG {
  position: fixed;
  left: 0;
  bottom: 0;
  height: clamp(9rem, 10vh, 20rem);
  z-index: 1000;
}

.footer {
  background: #7ecdc9;
  margin-top: auto;
  padding-top: 1rem;
  text-align: center;
  position: relative;
  font-size: 0.9rem;
}
@media screen and (min-width: 768px) {
  .footer {
    text-align: left;
  }
}

.footer1 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .footer1 {
    grid-template-columns: 1fr 1fr auto auto;
  }
}
.footer1 h5 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
.footer1 .footer-social .social-icon {
  padding: 0.25rem 0.5rem;
}
.footer1 .footer-address * + * {
  margin-top: 1rem;
}
.footer1 ul {
  list-style: none;
}

.footer2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  background: #40a5a0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.footer2 p {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
}

/*# sourceMappingURL=main.css.map */
