// Friends of MyPie collection.
#friendsCards {
  .cards {
    display              : grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    gap       : 1.5rem;
    list-style: none;
    a {
      color: $text-dark;
    }
  }

  .card {
    height    : 100%;
    background: $bg-light;
    @include padding(1rem);
    border-radius: $br;
    box-shadow   : $bs;

    display  : flex;
    flex-flow: column nowrap;
    gap      : 3rem;

    transition: all 125ms ease-in;


    &__image {

      @include padding(1rem .5rem);

      height    : 250px;
      max-height: 250px;
      overflow  : hidden;

      display    : flex;
      align-items: flex-start;

      img {
        object-fit: contain;
      }
    }

    &__text {
      @include margin(auto null null null);
      @include padding(2rem null null null);
    }

    &__title {
      // @include padding(2rem null null null);
      // @include margin(auto null null null);

    }
    &__content {
  
      @include margin(auto null null null);
    }

    &:hover {
      transform: scale(1.02);
    }
  }
}

#friendsDetail {
  .image {
    @include padding(1rem .5rem);
    @include margin(null null 2rem null);
    border: solid $bg-grey 5px;
    max-width: 100%;

    img {
      width  : 100%;
      display: block;
      object-fit: contain;
    }
  }
  .actionBlock {
    @include padding(2rem null null);
    display        : flex;
    justify-content: space-around;
  }

 

  .element__title {
    // @include margin(2rem 0 0);
  }

  h2 {
    // display: none;
  }
}