 // Image Element
 .imageElement {
   &__image {
     max-height: 450px;

     img {
       @include margin(1rem null null null);
       box-shadow   : var(--bs);
       max-height   : 450px;
       object-fit   : cover;
     }
   }

   &__content {
     @include margin(1rem null null null);
   }

 }


 .imageElement__image+.imageElement__content {}

 .twoCols {
   text-align: left;
   display   : flex;
   flex-wrap : wrap;
   --margin  : 2rem;
   --modifier: calc(50rem - 100%);
   margin    : calc(var(--margin) * -1);

   >* {
     flex-grow : 1;
     flex-basis: calc(var(--modifier) * 999);
     margin    : var(--margin);
   }
 }