.reviews {
  text-align: center;

  .gridContainer {
    @include margin(2rem null null null);
    display              : grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap                  : 1px;
    justify-items        : baseline;

    >* {

      @include padding(3rem);
      line-height: 26px;
      width      : 100%;

      display        : flex;
      flex-flow      : column nowrap;
      justify-content: flex-start;

    }


  }

  &__author {
    @include margin(1rem null null null);
    font-family: cursive;
    font-weight: 600;
  }



  &__content {
    font-weight: $fw-l;

    p {
      @include margin(0);
    }

  }
}