.footer {
  background:$clr-primary;
  @include margin(auto null null null);
  @include padding(1rem null null null);
  text-align: center;

  position: relative;
  font-size : .9rem;

  @media screen and (min-width: $breakpoint){
    text-align: left;
  }
}

.footer1 {
  @include padding(2rem null);

  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  position: relative;

  @media screen and (min-width: $breakpoint) {
    grid-template-columns: 1fr 1fr auto auto;
  }
  h5 {
    @include margin(null null .5rem null);
    font-size  : 1.2rem;
  
  }
  .footer-social {
    .social-icon {
      @include padding(.25rem .5rem);
    }
  }
  .footer-address {
    *+* {
      @include margin(1rem null null null);
    }
  }
  ul {
    list-style: none;
  }

}

  .footer2 {
    @include padding(1rem null);
    @include margin(1rem null null);
    background     : $clr-primary-dark;
    display        : flex;
    flex-flow      : column nowrap;
    justify-content: center;
    align-items    : center;

    p {
      @include margin(0);
      font-size  : .8rem;
      font-weight: $fw-l;
    }
  }
