// Hide checkboxes for toggles and remove from the document flow
.toggle {
  position: absolute;
  top     : -999px !important;
  left    : -9999px !important;
  display: none;
}

// Toggle Hamburger
.toggle-label {
  height: 3.5rem;
  width : 4rem;
  cursor: pointer;
  height: 100% !important;

  display        : flex;
  align-items    : center;
  justify-content: center;

  position: absolute;
  top     : 0;
  left    : 0;
  z-index : 100;
 
  span,
  span::before,
  span::after {
    width        : 2em;
    height       : 3px;
    border-radius: $br;
    background   : $bg-light;
   
    position: relative;
  }

  span::before,
  span::after {
    content   : '';
    position  : absolute;
    transform : rotate(0deg);
    transition: transform 250ms ease;
  }

  span::before {
    top: 10px;
  }

  span::after {
    top: -10px;
  }

}

// Nav Toggle Label & Hamburger icon w/animation


// Nav Toggle Animation
.toggle:checked~.toggle-label {
  left:65%;
  @media screen and (min-width: $breakpoint-small){
    left: 25%;
  }

}

.toggle:checked~.toggle-label span {
  background: transparent;
}

.toggle:checked~.toggle-label span::before {
  transform: rotate(135deg);
  top      : -0px;
}

.toggle:checked~.toggle-label span::after {
  transform: rotate(-135deg);
  top      : 0px;
}