#menuWidget {
  background: $clr-primary-dark;
  @include padding(1rem null 2rem null);
  .menuWidget {
    @include margin(1rem null null null);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    &__item {
      background: $bg-light;
      @include padding(1rem 2rem);
      font-size: 1.5rem;
    }
  }
}