header {
  @include padding(1em null);
  background: $clr-primary;
  height    : calc(#{$nav-height} + 4em);
  width: 100%;

  position: relative;

  .logo {
    text-align: center;
    @include padding(null 4rem);
  }

  img {
    height : calc(#{$nav-height} + 2em);
    display: inline-block;
  }
  .controls {
    position: absolute;
    top     : 1em;
    right   : 1em;
  
    display              : grid;
    grid-template-columns: 1fr 1fr;
    gap                  : 1em;
  
    a {
      @include padding(.25em .5em);
      background     : darken($clr-primary, 20%);
      color          : $clr-white;
      border-radius  : 7px;
      border         : solid 1px hsl(0, 0%, 95%);
      font-weight    : $fw-l;
      text-decoration: none;
  
      transition: all 125ms ease-in-out;
  
      &:hover {
        background   : $clr-yellow;
        color        : $clr-blue;
        border-radius: 7px;
        border       : solid 1px $clr-blue;
      }
    }
  }
}



.navbar {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: $fw-l;
  color      : $clr-blue;
  background : $clr-white;
  min-width  : 30%;
  max-width  : 50%;
  height     : 100%;

  box-shadow: 2px 0 12px 5px rgba($clr-blue, .15);

  position: absolute;
  top     : 0;
  left    : 0;
  z-index : 102;

  transform : translateX(-105%);
  transition: all 125ms ease;

  ul {
    list-style: none;
    @include padding(0);
  }

  li {
    border-bottom: solid 1px rgb(190, 190, 190);
  }

  a {

    text-decoration: none;
    display        : block;
    color          : $clr-blue;
    @include padding(1rem);

    &:hover {
      background: $clr-yellow;
      color: $clr-white;
    }
  }
}

.toggle:checked~.navbar {
  transform: translateX(0);
}

