.topHeader {
  @include padding(1em null);

  background: $clr-primary-dark;
  height: calc(#{$nav-height} + 4em);
  width: 100%;

  position: sticky;
  top: 0;
  z-index: 10000;

  transition: all 125ms ease-in-out;

  .logo {
    text-align: center;
    @include padding(null 4rem);
  }
  img {
    height: calc(#{$nav-height} + 2em);
    display: inline-block;
  }
}

.navbar {
  font-weight: 300;
  background: $bg-light;
  min-width: 33%;
  min-height: 100vh;

  box-shadow: 2px 0 12px 5px rgba($bg-dark, .15);

  position: absolute;
  top: 0;
  left: 0;
  z-index: 102;

  transform : translateX(-105%);
  transition: all 125ms ease;

  ul {
    list-style: none;
    @include padding(0);
  }

  li {
    border-bottom: solid 1px rgb(190, 190, 190);
  }
  a {

    text-decoration: none;
    display        : block;
    color          : $text-dark;
    @include padding(.5rem 1rem);

    &:hover {
      background: $clr-accent;
      color: $text-light;
    }
  }
}

.toggle:checked~.navbar {
  transform: translateX(0);
}
// On Scroll  header/navbar/svg
.headerScroll {
  @include padding(0 null);
  
  height: $nav-height;
  width: 100%;

  .logo {
    text-align: center;
    @include padding(.5rem 4rem);
    img {
      height: calc(#{$nav-height} - 1rem);
      display: inline-block;   
  }
 
  }
  .headerSVG {
    height: calc(#{$nav-height} - 5px);
    bottom: -3px;
  }

}
.toggle-label {
  height: $nav-height;
  @include margin(0);

}

.headerSVG {
  position: absolute;
  right: 0;
  bottom: -5px;
  height: calc(#{$nav-height} - 0rem);
}