<header class="topHeader jsHeaderScroll">
  <div class="logo">
    <a href="{{ pathFor('home') }}">
      <img src="/assets/img/svg/mypieLogo.svg" alt="{{ site.settings.siteName }}">
    </a>
  </div>

  <img class="inlineSVG headerSVG" src="/assets/img/svg/happyHalfGuyLeaning.svg" alt="">

  <!-- <div class="controls">
    <a href="wholesale.html">Wholesale</a>
    <a href="menu.html">Menu</a>
    <a href="shop.html">Shop Now</a>
  </div> -->
<!-- Hamburger Toggle Checkbox. See _hamburger.scss for styles. -->
<input type="checkbox" name="toggle" id="toggle" class="toggle">
<label for="toggle" class="toggle-label"><span></span></label>

<!-- Off canvas navbar. Styles located in _navbar.scss. -->
<nav id="navbar" class="navbar">

      <ul class="nav">
        {% for navLink in getNavigator('main') %}

        {% if navLink.childNav %}
        {# This is the case for a parent with a child nav dropdown #}
        <li class="nav-link {% if navLink.currentPage %}active{% endif %}">

          <input type="checkbox" name="sub-nav-toggle-{{ loop.index }}" class="toggle" id="sub-nav-toggle-{{ loop.index }}">
          <label for="sub-nav-toggle-{{ loop.index }}" class="toggle-label">{{ navLink.title }}&nbsp;&nbsp; </label>

          <ul class="subnav">
            {# Loop through children #}
            {% for child in navLink.childNav %}
            <li class="subnav-link">
              <a href="{{ getNavigationLink(child) }}">{{ child.title }}</a>
            </li>
            {% endfor %}
          </ul>

        </li>
        {% else %}
        <li class="nav-link {% if navLink.currentPage %}active{% endif %}">
          <a href="{{ getNavigationLink(navLink) }}">{{ navLink.title }}
          </a>
        </li>
        {% endif %}

        {% endfor %}
      </ul>
      <img class="inlineSVG navbarSVG" src="/assets/img/svg/chicken1.svg" alt="">
</nav>
</header>

