$clr-black      : hsl(345, 6%, 13%);
$clr-white      : hsl(0, 0%, 100%);
$clr-blue-light : hsl(177, 44%, 65%);
$clr-red        : hsl(11, 81%, 49%);
$clr-green      : hsl(147, 80%, 26%);
$clr-blue-dark  : hsl(235, 47%, 21%);
$clr-orange     : hsl(14, 81%, 62%);
$clr-pink       : hsl(334, 78%, 87%);

$clr-grey-light : rgb(240, 240, 240);
$clr-grey-medium: rgb(204, 204, 204);
$clr-grey-dark  : hsl(0, 0%, 30%);


$clr-primary: $clr-blue-light;
$clr-primary-light: lighten($clr-primary, 20%);
$clr-primary-dark: darken($clr-primary, 20%);

$clr-accent : $clr-red;

$bg-light  : $clr-white;
$bg-dark   : $clr-black;
$bg-grey: $clr-grey-medium;
$text-light: $clr-white;
$text-dark : $clr-black;
$ls: 2px;
$bs: 2px 2px 15px rgba($bg-dark, .15);

$br: 4px; // border-radius
$nav-height: 60px; //navigation height

  // Layout Variables
  $max-container-width: 1200px;

  // Media Query Breakpoints
  $breakpoint: 768px;

  $fw-l: 300;
  $fw-n: 400;
  $fw-m: 600;
  $fw-b: 700;

  $ff-serif: 'PT Serif',
  serif;
  $ff-sans: 'Open Sans',
  sans-serif;