@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');

@font-face {
  font-family: 'franchise_freebold';
  src        : url('../../fonts/franchise-free-bold-webfont.woff2') format('woff2'),
    url('../../fonts/franchise-free-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style : normal;
}

// These values are the minimum and maximum viewport sizes to apply the font scaling
$min_width: 768;
$max_width: 991;
// These values represent the range of font-size to apply
// These values effect the base font-size, headings and other elements will scale proportionally
$min_font : 14;
$max_font : 18;

// Looking for a mixin? Try: https://codepen.io/MadeByMike/pen/vNrvdZ

:root {
  font-size: #{$min_font}px;
}

// This part is a little bit ugly, I will explain what is going on in a blog post soon.
@media (min-width: #{$min_width}px) and (max-width: #{$max_width}px) {
  :root {
    font-size: calc(#{$min_font}px + (#{$max_font} - #{$min_font}) * ((100vw - #{$min_width}px) / (#{$max_width} - #{$min_width})));
  }
}

@media (min-width: #{$max_width}px) {
  :root {
    font-size: #{$max_font}px;
  }
}

//Base Typography

html {
  font-size: 1em;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color      : black;
}

p {
  margin-bottom: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family   : "franchise_freebold", sans-serif;
  color         : black;
  font-weight   : inherit;
  line-height   : 1.2;
  letter-spacing: .1em;
}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

small,
.font_small {}